<style>

canvas {
    border:1px  black;
    background-color: #f1f1f1;
}

@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}
ul{
  background-color: #074FAF;
  color: #074FAF;
}

html, body, h1, , h3, li, a, p,
article, aside, footer, header, main,section {
  padding: 0;
  margin: 0;
}

.banner {
  background-color:#0537C2;
  color: white;
  padding: 10px 20px;
}

body {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0420D6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  background-color:#074FAF;
  padding: 5px;
  margin-top: 1px;
}

li a {
  color: white;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

section {
  background-color:#08679B;
  margin-top: 10px;
  padding: 5px;
}

article {
  background-color: #0A7F88	;
  margin-top: 5px;
  padding: 10px 15px;
}

main {
  width: 1045px;
  float: left;
  margin-bottom: 10px;

}

aside {
  background-color: #08679B;
  width: 270px;
  float: right;
  padding: 20px;
  margin-top: 10px;
}

footer {
  clear: both;
  background-color: #074FAF;
  color: white;
  padding: 5px 20px;
}
#startbtn,#submitSN,#searchForm,#easy,#hard{
  border = 1px;
  align-items: center;
  padding-left: 10px;

}


</style>
